*{
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
    max-width: 5000px;
    margin: 0px auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    text-align: center;
}

header h2 {
    font-size: 170%;
    color: #800000;

}
header h3 {
    font-size: 130%;
    font-style: italic;

}
.carousel-item {
    max-height: 500px;
}

article {
    padding: .5em 0;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article h2 {
    padding-top: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}